{% extends 'todos/base.html' %} 
{% load bootstrap5 %}

{% load static %}

{% block content %}


<body style="background-color: rgb(50, 50, 50);">
  <center> 
    <a href="{% url 'todos:index'  %}">
     <h1 style="color:rgb(255, 162, 22);font-size:3.5rem"> <strong> To<span style="color: rgb(32, 114, 255);" >do</span>  </strong>  </h1>   
    </a>
  </center>
  <hr style="border: 1px rgb(255, 162, 22) solid" />

  <div class="d-flex justify-content-center">
    
    <div id="todo-container" class="col-md-7 col-sm-9 col-12">
    
      <!-- ################################### Start Header ######################################## -->

    <div style="height: 5.5rem;background-color: rgb(77, 77, 77);border-radius: 20px 20px 0px 0px;">
      <div class="container">
        <br>

        <div class="d-flex">


          <div class="">
            <h4 style="color: rgb(195, 195, 195);margin-left:22px;font-weight: 600;">Tasks ({{entries.count}}) </h4>
          </div>

          <div style="padding-left: 1.5rem;">

         <div class="dropdown">
          <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
              <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg>  Filter Tasks
          </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2" style="width: 200px;">
            
            <li> 
              
              <form action="{% url 'todos:filterTodos' %}" method='get'>
                 
                <div style="margin-left: 0.2cm;">  

                  <div>   
                    <button style= "color: #051622;" href="#" class="btn btn-light btn-sm"  name="all"> All Tasks </button> 
                   </div>

                  <div>   
                 <button style= "color: #051622;" href="#" class="btn btn-light btn-sm"  name="completed"> Completed Tasks </button> 
                </div>

                <div> 
                   <button style= "color: #051622;" href="#" class="btn btn-light btn-sm " name="uncompleted"> Uncompleted Tasks </button>  
                  </div>


                </div>
              </form>

            </li>

          </ul>
        </div>

        </div>

          <div class="d-none d-md-block" style="padding-left: 1.5rem;">
              <form  action="{% url 'todos:searchTodos' %}" method="post">
                {% csrf_token %}
               <input class="mr-sm-2"  id="searchInput" name="search" type="text" placeholder="Search">
               <span > <button  name="submit" class="btn btn-dark btn-sm">Search</button> </span>
              </form> 
          </div>

          <div style="padding-left: 1.5rem;" class="d-block d-md-none">
            <button onclick="searchBar()"style="background: none !important;border: none;">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search text-light" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>

        </div>

      </div>
  
    </div>
      <!-- ################################### End Header ######################################## -->


  <div style="margin-top: -28px;" class="d-flex justify-content-end">
    <a id="addIcon" onclick="addNote()" style="color: rgb(255, 162, 22);margin-right: 30px;cursor: pointer;"  >
        <svg id="addIconSVG" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
    </a>
</div>


<div id="search_bar"  style="padding-left: 1.5rem;display: none;">
  <form  action="{% url 'todos:searchTodos' %}" method="post">
    {% csrf_token %}
   <input  style="width: 12rem;" class="mr-sm-2"  id="searchInput" name="search" type="text" placeholder="Search">
   <span > <button  name="submit" class="btn btn-dark btn-sm">Search</button> </span>
  </form> 
</div>

      <div style="margin: 0.5cm 1cm 1cm 1cm">


        <form
        id="addNoteForm"
        style="display: none;margin-bottom:30px"
        method="post"
        action="{% url 'todos:index' %}"
        class="form"
      >
        {% csrf_token %} {% bootstrap_form todoForm %}
        <div class="d-flex justify-content-end">
            <button style="background-color:rgb(255, 168, 39);font-size: 1rem;font-weight: 600;margin-right: 10px;" name="submit" class="btn btn-sm ">
                Save
              </button>
        </div>
        
      </form>
      


        {% for entry in entries %}
        <div class="row">
            <div class="col-9 col-md-10">
                <a
                href="{% url 'todos:todoDetail' entry.id %}"
                style="
                  color: rgb(195, 195, 195);
                  font-weight: 600;
                  text-decoration: none;
                  font-size: 1.2rem;
                "
              >
                {{entry.title}}
              </a>
              <p style="margin: 0cm;color:rgb(82, 82, 82)" >last updated <span>&bull;</span>   <span>{{entry.date_added|timesince}} ago</span>  </p>
            </div>

            <div class="col-3 col-md-2">
                <a href="{% url 'todos:editTodo' entry.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-primary" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
                 <span style="margin-left: 20px;">  
                    <a href="{% url 'todos:deleteTodo' entry.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </a>  
                </span>
            </div>
        </div>
      



        <hr style="border: 1px rgb(70, 70, 70) solid" />
        {% endfor %}
      </div>
    </div>
  </div>


  <script src="{% static 'js/index.js' %}"></script>
</body>

{% endblock content %}

